[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
plotly = "*"
umap-learn = "*"
watchdog = "*"
numpy = "*"
scikit-learn = "*"
llama-index = "*"
chromadb = "*"
langchain = "*"

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.10"
